.aside {
  width: 20%;

  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  column-gap: 1rem;
}
.filterItem {
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 1rem 2rem;
}
.element {
  font-size: x-large;
  width: 100%;

  display: flex;
  column-gap: 1rem;
}
input {
  width: 24px;
}
h3 {
  font-size: x-large;
}
